<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="pimg.png" />

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />

  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.css" rel="stylesheet" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.js"></script>



  <script>
    function validateform() {
      var name = document.myform.fname.value;
      var lname = document.myform.lname.value;
      var password = document.myform.password.value;

      if ((/[^a-zA-Z]/.test(name)) || (/[^a-zA-Z]/.test(lname))) {
        alert("Name must include only characters");
        return false;
      }
      if (password.length < 8) {
        alert("Password must be at least 8 characters long.");
        return false;
      }
    } 
  </script>

  <title>Sws Collage</title>
</head>

<body>
  <div class="vh-100" >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;"  style="background-color:rgba(240, 240, 240, 0.83);">
            <div class="row g-0"  style="background-color:rgba(240, 240, 240, 0.83); border-radius: 40px;">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="pimg.png" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">

                  <form name="myform" method="post" onsubmit="return validateform()" action="/registerr">

                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0">Play Beat</span>
                    </div>

                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Register into your account</h5>


                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <input name="fname" type="text" id="form3Example1" class="form-control" required />
                          <label class="form-label" for="form3Example1">First name</label>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <input name="lname" type="text" id="form3Example2" class="form-control" required />
                          <label class="form-label" for="form3Example2">Last name</label>
                        </div>
                      </div>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                      <input name="email" type="email" id="form3Example3" class="form-control" required />
                      <label class="form-label" for="form3Example3">Email address</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                      <input name="password" type="password" id="form3Example4" class="form-control" required />
                      <label class="form-label" for="form3Example4">Password</label>
                    </div>
                    <% if(name!==""){ %>
                      
                      <p style="color: red;">User already exists</p>
                    <% }%>  
                    <!-- Submit button -->
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="submit">Register</button>
                    </div>


                    <p class="mb-5 pb-lg-2" style="color: #393f81;">If you have already an account? <a href="/login"
                        style="color: #393f81;">Login here</a></p>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>